:root {
  --main-color: #ff5c40;
  --main-accent-one: #ff7952;
  --main-accent-two: #b3321b;
  --main-accent-three: #09b36a;
  --main-accent-four: #40ffae;
}

header {
  width: 98vw;
  height: auto;
  min-height: 50px;
  max-height: 10vh;
  padding: 1vw;
  display: flex;
  flex-flow: row;
  flex-basis: 1 2 1;
  justify-content: space-between;
}

.app-menu {
  display: flex;
  flex-direction: row;
}

.legend-link-container {
  background-color: #cccccc;
  border-radius: 5px;
  height: fit-content;
  display: block;
  padding: 10px;
  margin: 15px;
  justify-content: center;
}

.legend-link {
  width: 120px;
}

.legend-link a {
  text-decoration: none;
  font-size: 16pt;
  color: #ffffff;
}

.view-title {
  display: flex;
  width: 100%;
  justify-content: center;
  color: var(--main-accent-three);
}

.app-content {
  width: 98vw;
  height: 80vh;
  padding: 1vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.app-content>.container-flex {
  margin: 10px;
  height: fit-content;
}

footer {
  width: 98vw;
  height: auto;
  max-height: 5vh;
}