.back-button-container {
    background-color: #cccccc;
    border-radius: 5px;
    height: fit-content;
    display: block;
    padding: 10px;
    margin: 15px;
    justify-content: center;
}

.back-link {
    width: 120px;
  }

.back-link a {
    text-decoration: none;
    font-size: 16pt;
    color: #ffffff;
}